*{
    margin: 0;
    padding:0%;
}

.Education{
    background-color: green;
}

span{
    color: red;
}


.winer{
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

.ican{
    font-size: 75px;
    text-decoration: dotted;
}

.contact.


